@font-face {
    font-family: 'RockwellStdRegular';
    src: url('../fonts/rockwellstd-webfont.eot');
    src: url('../fonts/rockwellstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwellstd-webfont.woff') format('woff'),
         url('../fonts/rockwellstd-webfont.ttf') format('truetype'),
         url('../fonts/rockwellstd-webfont.svg#RockwellStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RockwellStdLight';
    src: url('../fonts/rockwellstd-light-webfont.eot');
    src: url('../fonts/rockwellstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwellstd-light-webfont.woff') format('woff'),
         url('../fonts/rockwellstd-light-webfont.ttf') format('truetype'),
         url('../fonts/rockwellstd-light-webfont.svg#RockwellStdLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

#sf-member h2 {
  font-family: 'RockwellStdRegular';
}